
.category-search-container {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 60px; /* Add margin top to create space for testing */
}
.card-carousel {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.carousel-control-prev-icon {
  background-color: blue
  /* Other styles if needed */
}

.carousel-control-next-icon {
  background-color: blue
  /* Other styles if needed */
}