
.category-search-container {
  overflow-x: auto;
  white-space: nowrap;
}
.card-carousel {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.carousel-control-prev-icon {
  background-color: blue
}

.carousel-control-next-icon {
  background-color: blue
}